---
- name: ntp time source
  template:
    src: ntp-server.conf.j2
    dest: /etc/ntp.conf
  notify: Restart ntp service

- name: remove dhcp-ntp files
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - "/etc/dhcp/dhclient-exit-hooks.d/ntp"
    - "/var/lib/ntp/ntp.conf.dhcp"
  notify: Restart ntp service

- name: Ensure NTP is running and enabled as configured.
  systemd:
    name: ntp
    state: started
    enabled: true

- meta: flush_handlers