# netdata configuration
#
# You can download the latest version of this file, using:
#
#  wget -O /etc/netdata/netdata.conf http://localhost:19999/netdata.conf
# or
#  curl -o /etc/netdata/netdata.conf http://localhost:19999/netdata.conf
#
# You can uncomment and change any of the options below.
# The value shown in the commented settings, is the default value.
#

[global]
    run as user = netdata

    # the default database size - 1 hour
    history = 3600

    # some defaults to run netdata with least priority
    process scheduling policy = idle
    OOM score = 1000
    process scheduling policy = idle
    process scheduling priority = 0
    process nice level = 19
    update every = {{ monitor_netdata_update_every }}
    debug log = none
    error log = none
    access log = none
    page cache size = {{ monitor_netdata_page_cache_size }}
    dbengine disk space = {{ monitor_netdata_dbengine_disk_space }}

[web]
    web files owner = root
    web files group = netdata

    # by default do not expose the netdata port
    bind to = localhost
    enable web responses gzip compression = no
    respect do not track policy = yes
    web server threads = {{ monitor_netdata_web_server_threads }}
    web server max sockets = {{ monitor_netdata_web_server_max_sockets }}
