---
rancher_ingress_certificate_file: "/etc/ssl/private/{{ k3s_public_domain }}.fullchain.crt"
rancher_ingress_certificate_key_file: "/etc/ssl/private/{{ k3s_public_domain }}.key"

rancher_chart_version: 2.5.3


rancher_chart_values: 
  hostname: "{{ rancher_public_domain }}"
  ingress.tls.source: secret