---
- hosts: "{{ scope }}"
  become: true
  gather_facts: yes

  tasks:
    - name: Sanity checks
      assert:
        that:
          - acme_revoke is defined

    - name: Cooking variables
      set_fact:
        ssl_private_key_path_basename: "{{ ssl_certs_dir }}/{{ acme_revoke }}"
      tags: always

    - name: Cooking variables
      set_fact:
        acme_private_key_filename: "{{ ssl_private_key_path_basename }}.acme.key"
        crt_filename: "{{ ssl_private_key_path_basename }}.crt"
      tags: always

    - name: Revoke certificate with account key
      acme_certificate_revoke:
        account_key_src: "{{ acme_private_key_filename }}"
        certificate: "{{ crt_filename }}"
        acme_directory: "https://acme-v02.api.letsencrypt.org/directory"
        acme_version: 2

    - name: Delete old files
      file:
        path: "{{ item }}"
        state: absent
      loop:
        - "{{ ssl_private_key_path_basename }}.csr"
        - "{{ ssl_private_key_path_basename }}.crt"
        - "{{ ssl_private_key_path_basename }}.fullchain.crt"
        - "{{ ssl_private_key_path_basename }}.key"
        - "{{ ssl_private_key_path_basename }}.acme.key"
      tags:
        - clean